	<link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
	<script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>

	<div id="pammchart" style="height: 250px;"></div>
	<script>
		new Morris.Line({
		  // ID of the element in which to draw the chart.
		  element: 'pammchart',
		  // Chart data records -- each entry in this array corresponds to a point on
		  // the chart.
		  data: [
		  	<% @arData.each do |el| %>
		    { year: '<%=el[:date]%>', value: <%=el[:deposit]%> },
		    <% end%>	
		  ],
		  // The name of the data record attribute that contains x-values.
		  xkey: 'year',
		  // A list of names of data record attributes that contain y-values.
		  ykeys: ['value'],
		  // Labels for the ykeys -- will be displayed when you hover over the
		  // chart.
		  labels: ['deposit']
		});

	</script>